/*html, body {
    height: 100%;
}*/

body {
    display: grid;
    grid-template-columns: 40vb 20vb 40vb;
    grid-template-rows: auto;
    justify-content: space-between;
}

#upgrades {
    grid-column: 1 / span 1;

    display: flex;
    column-gap: 10px;
    margin-top: 5vh;
}

#screenspace {
    grid-column: 2 / span 1;
    justify-self: center;
}

#Score {
    margin-top: 20vh;
    font-size: 5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.circle {
    background-color: black;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin-top: 5vh;
    justify-self: center;
}

#upgrades div {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

#upgrades div a {
    list-style: none;
    font-size: 1.5em;
    background-color: green;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

#gameRules {
    grid-column: 3 / span 1;
    justify-self: center;
    margin-top: 5vh;
}